<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/base :: common_header(~{::title}, ~{::link}, ~{::scripts})">
	<title>Influencer 관리</title>
	<link href="/css/influencer/list.css" rel="stylesheet">
	<th:block th:fragment="scripts">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="/js/influencer/list.js"></script>
		<script src="/js/fragment/modal.js"></script>
	</th:block>
</head>


<body>
<header th:replace="fragment/header :: navigation_bar"></header>

<h1>인플루언서 관리</h1>

<div class="container">
	<table>
		<thead>
		<tr>
			<th>프로필</th>
			<th>채널명</th>
			<th>이름</th>
			<th>직업</th>
			<th>공개상태</th>
			<th>관리</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="influencer : ${influencers}">
			<td class="profile-cell">
				<img alt="프로필 이미지" th:src="${influencer.imgUrl}">
			</td>
			<td>
				<a target="_blank"
				   th:href="@{'https://www.youtube.com/channel/' + ${influencer.channelId}}"
				   th:text="${influencer.channelTitle}">
				</a>
			</td>
			<td th:text="${influencer.name}"></td>
			<td th:text="${influencer.job}"></td>
			<!-- 테이블 상태 컬럼 수정 -->
			<td>
				<button th:class="${influencer.hidden ? 'status-hidden' : 'status-visible'}"
						th:onclick="toggleStatus([[${influencer.id}]], [[${influencer.hidden}]])"
						type="button">
					<span th:text="${influencer.hidden ? '숨겨짐' : '공개'}"></span>
				</button>
			</td>
			<td>
				<button class="btn-edit"
						onclick="openInfluencerEditModal(this)"
						th:data-id="${influencer.id}"
						th:data-job="${influencer.job}"
						th:data-name="${influencer.name}"
						th:data-img="${influencer.imgUrl}">수정
				</button>
			</td>
		</tr>
		</tbody>
	</table>

	<div class="button-container">
		<a class="btn-add" href="/admin/influencer/new">인플루언서 등록</a>
	</div>
</div>

<!-- 수정 모달 -->
<div th:replace="fragment/modal :: modal('editModal', '인플루언서 정보 수정', ~{::contents})">
	<th:block th:fragment="contents">
		<form class="form-inline" id="editForm" onsubmit="updateInfluencer()">
			<div class="form-group">
				<label for="editName">이름</label>
				<input id="editName" name="name" required type="text">
			</div>
			<div class="form-group">
				<label for="editJob">직업</label>
				<input id="editJob" name="job" required type="text">
			</div>
			<input id="editId" type="hidden">
			<img alt="프로필 이미지" id="editImg">
			<button type="submit">저장하기</button>
		</form>
	</th:block>
</div>

</body>
</html>
