<!DOCTYPE html>
<html lang="KR">
<head>
    <meta charset="UTF-8">
    <title>인플레이스 어드민 페이지</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=c6eb498481bef28050981d6c3f49357e&libraries=services"></script>
</head>
<body>
<div class="header">
    <a href="/" class="header-link">Home</a>
    <a href="/admin" class="header-link">Admin</a>
</div>
<h1>Administrator Manage Page</h1>
<table id="video-data">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Thumbnail</th>
        <th scope="col">Action</th>
    </tr>
    </thead>

    <tbody id="video-tbody">

    </tbody>
</table>

<div>
    <button id="prevPage">Previous</button>
    <button id="search" onclick="getNullVideos(currentPage)">검색</button>
    <button id="nextPage">Next</button>
</div>

<!-- Modal Structure -->
<div id="placeSearchModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>장소 검색</h2>
        <form onsubmit="searchPlaces(); return false;">
            키워드 : <input type="text" value="이태원 맛집" id="keyword" size="15">
            <button type="submit">검색하기</button>
        </form>
        <table id="search-data">
            <thead>
            <tr>
                <th scope="col">장소명</th>
                <th scope="col">주소</th>
                <th scope="col">ID</th>
                <th scope="col">등록</th>
            </tr>
            </thead>

            <tbody id="search-tbody">

            </tbody>
        </table>
    </div>
</div>

<script src="/js/video.js"></script>
</body>
</html>