.place-search-modal-header {
  display: flex;
  overflow-x: auto;
}

.modal-content {
  width: 95%;
  max-width: 1600px;
}

.place-register-table {
  width: 100%;
}

.place-register-table th,
.place-register-table td {
  padding: 6px 10px;
  font-size: 12px;
}

.place-register-table input {
  width:100%;
  box-sizing:border-box;
}

.tab {
  border: none;
  border-bottom: 2px solid transparent;
  color: #333;
  padding: 8px 16px;
  border-radius: 6px 6px 6px 6px;
}

.tab:hover {
  background-color: #e0e0e0;
  color: #222;
}

.tab.active {
  background-color: #d0d0d0;
  border: 2px solid #3cb371; /* 예: 선택된 탭 강조 색 */
  color: #3cb371;
  font-weight: 600;
}
