name: Frontend CI/CD for main branches
on:
  push:
    branches:
      - "**"
    paths:
      - "frontend/**"
      - ".github/**"
jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install dependencies
        run: npm install
      - name: Run ESLint
        run: npm run lint
      - name: Run Prettier
        run: npm run format -- --check
      - name: Run Tests
        run: npm test

  build-and-deploy:
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/dev'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "22"

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test

      - name: Create and Upload Sentry Release
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.VITE_SENTRY_AUTH_TOKEN }}
          VITE_SENTRY_DSN: ${{ secrets.VITE_SENTRY_DSN }}
          SENTRY_ORG: inplace-na
          SENTRY_PROJECT: inplace
        run: |
          npm install -g @sentry/cli
          sentry-cli releases new -p $SENTRY_PROJECT ${{ github.sha }}
          sentry-cli releases set-commits --auto ${{ github.sha }} --ignore-missing
          sentry-cli releases files ${{ github.sha }} upload-sourcemaps ./dist
          sentry-cli releases finalize ${{ github.sha }}

      - name: Build project
        run: |
          if [[ ${{ github.ref }} == 'refs/heads/dev' ]]; then
            npm run build:dev
          else
            npm run build
          fi
        env:
          VITE_KAKAO_JS_KEY: ${{ secrets.VITE_KAKAO_JS_KEY }}
          VITE_SENTRY_DSN: ${{ secrets.VITE_SENTRY_DSN }}
          VITE_GOOGLE_ANALYTICS: ${{ secrets.VITE_GOOGLE_ANALYTICS }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2

      - name: Deploy to S3
        run: |
          if [[ ${{ github.ref }} == 'refs/heads/main' ]]; then
            # production 배포
            aws s3 sync dist/ s3://inplace.my --delete
            aws s3 sync dist/ s3://www.inplace.my --delete
            aws cloudfront create-invalidation --distribution-id ${{ secrets.AWS_CLOUDFRONT_ID }} --paths "/*"
          elif [[ ${{ github.ref }} == 'refs/heads/dev' ]]; then
            # dev 배포
            aws s3 sync dist/ s3://ecalpni-dev.inplace.my/ --delete
            aws cloudfront create-invalidation --distribution-id ${{ secrets.AWS_DEV_CLOUDFRONT_ID }} --paths "/*"
          fi
